apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: esgf-cog
  labels:
    stack: esgf
    component: cog
spec:
  replicas: 1
  selector:
    matchLabels:
      stack: esgf
      component: cog
  template:
    metadata:
      labels:
        stack: esgf
        component: cog
      #annotations:
      #  checksum/postgres-secrets: {{ include (print $.Template.BasePath "/postgres/secret.yaml") . | sha256sum }}
      #  checksum/cog-secrets: {{ include (print $.Template.BasePath "/cog/secret.yaml") . | sha256sum }}
      #  checksum/trust-bundle: {{ include (print $.Template.BasePath "/certificates/trust-bundle-configmap.yaml") . | sha256sum }}
    spec:
      initContainers:
        # Wait for postgres to become available before starting
        - name: ensure-postgres
          image: postgres
          env:
            - name: PGHOST
              value: esgf-postgres
            - name: PGPORT
              value: "5432"
            - name: PGUSER
              value: dbsuper
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: esgf-postgres-secrets
                  key: database-password
            - name: PGDATABASE
              value: esgcet
          command:
            # Try every 5 seconds for no longer than 10 mins
            - bash
            - -c
            - |
              for i in $(seq 120); do
                sleep 5
                echo "Attempt $i of 120"
                if pg_isready; then exit 0; fi
              done
              exit 1
      containers:
        - name: cog
          image: cedadev/esgf-cog:latest
          #imagePullPolicy: {{ default "" .Values.cog.imagePullPolicy | quote }}
          ports:
            - name: http
              containerPort: 8000
          # The readiness and liveness probes run the same thing, but the liveness
          # probe just waits a while before kicking in whereas the readiness probe
          # starts straight away
          #readinessProbe:
          #  httpGet: &probe
          #    path: /
          #    port: 8000
              # The ALLOWED_HOSTS setting means that the app will only accept
              # requests from the correct host
          #    httpHeaders:
          #      - name: Host
          #        value: "{{ .Values.hostname }}"
          #      - name: X-Forwarded-Host
          #        value: "{{ .Values.hostname }}"
          #      - name: X-Forwarded-Proto
          #        value: https
          #  initialDelaySeconds: 10
          #  periodSeconds: 10
          #livenessProbe:
          #  httpGet: *probe
          #  initialDelaySeconds: 60
          #  periodSeconds: 10
          env:
            - name: ESGF_HOSTNAME
              value: my-node.esgf.org
            - name: ESGF_DATABASE_HOST
              value: esgf-postgres
            - name: ESGF_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: esgf-postgres-secrets
                  key: "database-password"
            - name: ESGF_ROOTADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: esgf-cog-secrets
                  key: "rootadmin-password"
            - name: ESGF_COG_TIME_ZONE
              value: "America/Denver"
            - name: ESGF_COG_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: esgf-cog-secrets
                  key: "cog-secret-key"
          volumeMounts:
            - mountPath: /esg/certificates/esg-trust-bundle.pem
              name: trust-bundle
              subPath: esg-trust-bundle.pem
          #resources:
#{{ toYaml .Values.cog.resources | indent 12 }}
      volumes:
        - name: trust-bundle
          configMap:
            name: esgf-trust-bundle
